@media (max-width: 790px) {
  .pencari {
    visibility: hidden;
  }
}
@media (max-width: 321px) {
  .nama {
    font-size: 25px;
  }
}
#bayangan:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
#tombol {
  background-color: rgba(0, 255, 254, 0.2);
}
#tombol:hover {
  background-color: aqua;
}
/* Jumbotron */
.jumbotron {
  padding-top: 2rem;
  background-color: #e2edff;
}
#murizzz:hover {
  box-shadow: 300px 45px 300px 9px aqua;
}
#projects {
  background-color: #e2edff;
}
#blog {
  background-color: #e2edff;
}
section {
  padding-top: 5rem;
}
